<mat-toolbar >
    <p><button style="margin-top: 10px;" (click)="sidenav.toggle()" mat-button><i class="fas fa-bars"></i></button></p>
    Time<b>Sheet</b> 
    <span class="example-fill-remaining-space"></span>
    <span>
        <!-- <button mat-flat-button><i style="font-size: 20px;" class="far fa-user"></i></button> -->
        <button style="border: 1px solid #111111;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i style="font-size: 20px;" class="fas fa-user-alt"></i>
        </button>
        <mat-menu #menu="matMenu">
            <span><p style="margin-left: 15px; margin-right: 15px; font-size: 10px;">Logged in as:</p></span>
            <span><p style="margin-left: 15px; margin-right: 15px; text-align: center;">{{data.displayName}}</p></span>
            <mat-divider></mat-divider>
            <button (click)="logout()" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;" mat-stroked-button color="primary">
              <span>Logout</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>


<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" closed class="example-sidenav">
        <div id="wrapper">
            <div id="inner1">
                <button mat-button class="sideNav-buttons">
                    Entries panel
                </button>
            </div>
            <div id="inner2">
                <button mat-button class="sideNav-buttons">
                    Statistics
                </button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-entries></app-entries>
    </mat-sidenav-content>
</mat-sidenav-container>

