<!-- <mat-toolbar >
    <p><button style="margin-top: 10px;" (click)="sidenav.toggle()" mat-button><i class="fas fa-bars"></i></button></p>
    Time<b>Sheet</b> 
    <span class="example-fill-remaining-space"></span>
    <span>
        <button style="border: 1px solid #111111;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i style="font-size: 20px;" class="fas fa-user-alt"></i>
        </button>
        <mat-menu #menu="matMenu">
            <span><p style="margin-left: 15px; margin-right: 15px; font-size: 10px;">Logged in as:</p></span>
            <span><p style="margin-left: 15px; margin-right: 15px; text-align: center;">{{data.displayName}}</p></span>
            <mat-divider></mat-divider>
            <button (click)="logout()" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;" mat-stroked-button color="primary">
              <span>Logout</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar> -->


<mat-sidenav-container class="example-container" opened="true">
    <mat-sidenav #sidenav mode="side" class="example-sidenav" opened="true">

            <div id="container_Logo">
                Time<b>Sheet</b> 
            </div>

            <div class="container_Tabs">
                <button [ngClass]="{'btn_NavigationActive': item === 1, 'btn_NavigationInactive' : item != 1 }" routerLink="/main/statistics" (click)="navigateToStatistics(); manageMenuStyle(1)" mat-button>
                    <i class="fas fa-home icon"></i>{{ 'sidenav.home' | translate }}
                </button>

                <button [ngClass]="{'btn_NavigationActive': item === 2, 'btn_NavigationInactive' : item != 2 }" routerLink="/main/entries" (click)="navigateToEntries(); manageMenuStyle(2)" mat-button>
                    <i class="fas fa-atlas icon"></i>{{ 'sidenav.entries' | translate }}
                </button>
    
                <button [ngClass]="{'btn_NavigationActive': item === 3, 'btn_NavigationInactive' : item != 3 }" routerLink="/main/statistics" (click)="navigateToStatistics(); manageMenuStyle(3)" mat-button>
                    <i class="fas fa-chart-bar icon"></i>{{ 'sidenav.statistics' | translate }}
                </button>
    
                <button [ngClass]="{'btn_NavigationActive': item === 4, 'btn_NavigationInactive' : item != 4 }" routerLink="/main/statistics" (click)="navigateToStatistics(); manageMenuStyle(4)" mat-button>
                    <i class="fas fa-cogs icon"></i>{{ 'sidenav.settings' | translate }}
                </button>
            </div>
            
    </mat-sidenav>

    <mat-sidenav-content>

        <div id="container_optionBar">

            <div id="container_languages">
                <mat-expansion-panel class="expansionPanel_languages mat-elevation-z0" [expanded]="translationPanelOpenState">
                    <mat-expansion-panel-header class="expansionPanel">
                        <div id="expansionPanel_content2">
                           <b *ngIf="activeTransalationID==1">EN</b>
                           <b *ngIf="activeTransalationID==2">PL</b>
                        </div>
                    </mat-expansion-panel-header>
                
                        <li *ngFor="let translation of translations" (click)="onSelect(translation)">
                             <button (click)="state()" id="btn_transaltions" mat-flat-button>{{translation.name}}</button>
                        </li>

                  </mat-expansion-panel>
            </div>

            <div id="container_expansionPanel">
                <mat-expansion-panel class="expansionPanel mat-elevation-z0">
                    <mat-expansion-panel-header class="expansionPanel">
                        <div id="expansionPanel_content">
                            <b>{{data.displayName}}</b><br>
                            <p id="p_email">{{data.email}}</p>
                        </div>
                    </mat-expansion-panel-header>

                        <button class="btn_logout" (click)="logout()" mat-stroked-button color="primary">{{ 'common.logout' | translate }}</button>

                  </mat-expansion-panel>
            </div>

        </div>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>

