.example-fill-remaining-space {  
    flex: 1 1 auto !important;
}

.mat-form-field-infix {
    width: unset !important;
}

.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  
.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  background:#e8e8e8;
}

.div-roomList {
  width: 80%;
  margin: auto auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


  